In [10]:
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency
from scipy import stats

In [11]:
data=pd.read_csv('D:\\Data science\\BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [12]:
observed_values=np.array([[50,142,131,70],[435,1532,1356,750]])

In [13]:
chi2,p_val,dof,expected_values=stats.chi2_contingency(observed_values)

In [14]:
print(chi2)

1.6577146592066643

In [15]:
print(p_val)

0.6463753422699474

In [18]:
print(dof)

3

In [17]:
alpha=0.05
if p_val < alpha:
    print("H0 is rejected and H1 is accepted")
if p_val > alpha:
        print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted

In [19]:
chi2_contingency(observed_values)

Chi2ContingencyResult(statistic=1.6577146592066643, pvalue=0.6463753422699474, dof=3, expected_freq=array([[  42.67913121,  147.30900134,  130.85333632,   72.15853112],
       [ 442.32086879, 1526.69099866, 1356.14666368,  747.84146888]]))